.cart-container {
  width: 350px;
  height: 430px;
  border: 1px solid gray;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 25px;
  padding: 10px;
  position: relative;
}

.photo {
  width: 330px;
  border-radius: 10px;
}

.title {
  font-size: 22px;
  margin-top: 20px;
}

.details {
  font-size: 16px;
  line-height: 18px;
}

.left {
  right: 15px;
}
